/* Bootstrap CSS Overrides */

html {
    position: relative;
    min-height: 100%
}
body {
    background-image: url("../images/concrete_seamless.png");
    margin-bottom: 50px;
}

nav {
    background-color: #ddd !important;
    background: #B0DDDB;
}

/* .navbar-brand h2 {
    color: #fff;
    background-color: #4aaaa5;
} */

.navbar-brand {
    color: #fff !important;
    /*background: #4aaaa5 !important;*/
    padding:10px 20px;
    margin: 0;
    font-family: 'Lora', serif;
    font-weight: bolder;
    
}

.bg-light {
    background-color: #7BC6C2 !important;
}

.navbar-brand:hover {
    background: #4aaaa5;
}

.nav-link {
    color: #fff !important;
    margin-left: 20px;
}

.navbar-light .navbar-toggler {
    border-color: #4aaaa5;
}

h2 {
    color: #4aaaa5;
    font-family: 'Lora', serif;
    margin-top: 10px;

}

/* /* h3 {
    color: pink;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #4aaaa5; */
} */
 
/*h4 {
    color: aqua !important;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    background: #4aaaa5;
}*/

.container {
    background-color: #fff;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 5px auto 10px;
    background: #fff;
}

.btn {
    background-color: #7BC6C2;
    border: #fff;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #4aaaa5;
    border: #fff;
    margin-bottom: 10px;
}

#profile-image {
    border-radius: 50%;
}

.icon {
    margin: 15px 7px;
    width: 25px;
}

.icons {
    text-align: center;
}

.gallery {
    position: relative;
    float: left;

}

/*.gallery img {
    width: 100%;

}*/

.gallery h4 {
    position: relative;
    bottom: 20%;
    width: 100%;
    float: left;
    background: #7BC6C2;
    color: #fff;
    padding: 10px 3px;
    font-family: 'Lora', serif;
    font-size: 1.15em;

}

.github {
    display: inline-block;
    float: right;
    height: 20px;
    margin-right: 3px;
    position: relative;

}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #666;
    border-top: 8px solid #7BC6C2;
}

.footer-text {
    text-align: center;
    color: #ddd;
    font-size: .7em;
    padding-top: 20px;
    margin-bottom: 0;
    background: #666;
}